.speech{
    font-family:Arial, sans-serif;
    font-size: medium;
    color:black;
}
.chorus{
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: medium;
    color: black;
}
.direction  {
    font-family:Garamond,serif ;
    background-color: blanchedalmond;
    color:blue;

}
.direction:hover {
        color:red;
        background-color:yellow;
    }
.elsa{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    color: blueviolet;
}
.bertha{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color:aquamarine;
}
.olga{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: pink;
}
.gretchen{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: skyblue;
}
.ludwig{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color:darkmagenta

}
#singers{
    margin-top:10px;
    margin-left:15px;
    border:5px solid rgb(72,32,160);
    border-collapse: separate;
    box-sizing:border-box;
}
#singers td{
    color:brown;
    text-align: center;
    padding:20px;
    border-bottom:10px;
}
#singers th{
    background-color: aquamarine;
}
#singers tr:nth-child(even){
    background-color: yellowgreen;
}
